.btn-chevron-right {
    box-sizing: border-box;
    font-size: calc(1rem*14/16);
    font-weight: bold;
    height: 2rem;
    line-height: 1.5rem;
    padding: 0rem 2rem 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(255, 98, 30);
    border: 2px solid rgb(255, 98, 30, 0.5);
    border-radius: 0.5rem;
    flex: 0.8;
    transition: all 0.3s;
    position: relative;
    max-width: fit-content;
    text-decoration: none;
}

.btn-chevron-right i {
    position: absolute;
    right: 1rem;
    transition: all 0.3s;
}

.btn-chevron-right:hover {
    background-color: #FF621E;
    color: white;
    text-decoration: none;
}

.btn-chevron-right:hover i {
    right: 0.8rem;
}

.grey_btn{
    box-sizing: border-box;
    font-size: calc(1rem*14/16);
    font-weight: bold;
    height: 2rem;
    line-height: 1.5rem;
    padding: 0rem 1rem 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(177, 177, 177);
    border: 2px solid rgb(177, 177, 177);
    border-radius: 0.5rem;
    flex: 0.8;
    transition: all 0.3s;
    position: relative;
    max-width: fit-content;
    text-decoration: none;
}
.grey_btn:hover {
    background-color: rgb(177, 177, 177);
    text-decoration: none;
    color: white;
}






.btn-chevron-right-color {
    box-sizing: border-box;
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    width: 108px;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(255, 98, 30);
    border: 2px solid #FF621E;
    flex: 0.8;
    transition: all 0.3s;
    text-decoration: none;
}

.btn-chevron-right-color:hover {
    background-color: #FF621E;
    color: white;
    text-decoration: none;
}